.manage-account-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #f8f9fc;
  padding: 2rem;
  min-height: calc(100vh - 80px);

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
    }
  }
}

@media (max-width: 992px) {
  .manage-account-container {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .manage-account-container {
    padding: 1rem;

  }
}

@media (max-width: 480px) {
  .manage-account-container {
    padding: 0.75rem;
  }
}

.custom-dialog-container {
  .uploaded-files {
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: #f0f8f7;
    border-radius: 6px;

    .file-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border-bottom: none;
      }

      .file-name {
        font-size: 14px;
        color: #333;
        word-break: break-word;
      }

      .remove-icon {
        cursor: pointer;
      }
    }
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .form-check {
      width: 20%;

      @media (max-width: 480px) {
        width: 40%;
      }
    }
  }
}