.footer {
  background: #ffffff;
  color: #000000;
  padding: 1rem 0;
  text-align: center;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    a {
      color: #000;
      text-decoration: none;
      font-size: 0.95rem;
      position: relative;
      transition: color 0.3s;

      &:hover {
        color: #009999;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0%;
        height: 2px;
        background: #009999;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .footer-icons {
    display: flex;
    gap: 1.2rem;

    a {
      color: #000000;
      font-size: 1.3rem;
      transition: color 0.3s;

      &:hover {
        color: #009999;
      }
    }
  }

  .footer-copy {
    font-size: 0.85rem;
    margin: 0;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .footer .footer-links {
    gap: 1rem;
    font-size: 0.9rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .footer .footer-container {
    gap: 1rem;
    flex-direction: column;
  }

  .footer .footer-links {
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer .footer-icons {
    justify-content: center;
  }
}