.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem !important;
  position: sticky;
  z-index: 100;
  top: 0;

  .navbar-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .hamburger-icon {
      cursor: pointer;
    }

    .navbar-logo {
      width: 125px;
      cursor: pointer;
    }
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .auth-buttons {
      display: flex;
      gap: 0.5rem;
    }

    button {
      background: transparent;
      border: 1px solid white;
      color: white;
      padding: 0.4rem 0.75rem;
      font-weight: 500;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: #ffffff;
        color: #009999;
        border: 1px solid #009999;
      }
    }
  }

}

@media (max-width: 992px) {
  .navbar {
    padding: 0.5rem 1rem;

    .navbar-left {
      .hamburger-icon {
        display: block;
      }
    }

    .navbar-actions {
      .auth-buttons button {
        padding: 0.35rem 0.6rem;
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: row;
    padding: 0.5rem;

    .navbar-left {
      .navbar-logo {
        width: 100px;
      }
    }

    .navbar-actions {
      gap: 0.5rem;

      .auth-buttons {
        button {
          font-size: 0.8rem;
          padding: 0.3rem 0.5rem;
        }
      }

    }
  }
}

.profile-container {
 .profile-toggle {
    background: #fff !important;
    color: #009999 !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #ddd;
    transition: background 0.2s ease;

    &:hover {
      background: #f3fafa !important;
    }
    &::after{
      display: none;
    }
  }

  .profile-dropdown {
    min-width: 240px;
    border-radius: 12px;
    padding: 8px 0;

    .profile-info {
      padding: 10px 15px;
      line-height: 1.4;

      .username {
        font-weight: 600;
        margin: 0;
      }

      .role {
        font-size: 0.85rem;
        margin: 0.5rem 0;
      }

      .email {
        font-size: 0.85rem;
        margin: 0;
        &:hover,:focus{
          color: #009999;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.90rem;
      font-weight: 500;
      color: #009999;
      padding: 10px 16px;

      &:hover {
        background-color: #f3fafa;
      }

      .dropdown-icon {
        font-size: 18px;
      }
    }

    .logout {
      color: red !important;
      font-weight: 600;

      &:hover {
        background-color: #ffeaea;
      }
    }
  }
}

